---
layout: layouts/base.njk
title: Seite nicht gefunden
permalink: 404.html

eleventyExcludeFromCollections: true
---
<div class="full-screen-message-section">
    <div class="full-screen-message">
        <h1>{{ title }}</h1>
        <p>Wir konnten unter dieser Adresse leider nichts finden. Das kann an einem Tippfehler in der URL, einem defekten Link oder einem Serverfehler liegen.</p>

        <a href="/"><i class="fas fa-arrow-left"></i> &nbsp;Zurück zur Startseite</a>
    </div>
</div>
