---
title: About Us

layout: layouts/base.njk

eleventyNavigation:
  key: About Us
  order: 2
---

<h1>About Us</h1>

    <div class="row">
    
        <div class="col-lg-6 col-12 profile-card-column">
            <div class="profile-card" id="profile-card-irem-ebenstein">
              <div class="profile-card--header">
                <div class="profile-card-header-section">
                    <img class="profile-card-image" src="/assets/img/profile/IremEbenstein_ProfilePicture_fin.jpg" alt="Profile Picture of Irem Ebenstein">
                </div>
                <div class="profile-card-header-section">

                    <h2 class="profile-card-name">Irem Eben<span class="highlighted-term">stein</span></h2>
                    <p class="profile-occupation desktop">Senior Software Developer at Math-Up GmbH</p>
                    <div class="social-media-links">
                        <a class="social-media-link" href="mailto:{{ contact.email.irem }}" aria-label="email address of Irem Ebenstein">
                            <i class="svg--medium">{% svg "fontawesome/square-envelope.svg" %}</i>
                        </a>
                        <a class="social-media-link" href="{{ contact.linkedin.irem }}" target="_blank" aria-label="Linkedin profile of Irem Ebenstein">
                            <i class="svg--medium">{% svg "fontawesome/linkedin.svg" %}</i>
                        </a>
                        <a class="social-media-link" href="{{ contact.github.irem }}" target="_blank" aria-label="Github profile of Irem Ebenstein">
                            <i class="svg--medium">{% svg "fontawesome/square-github.svg" %}</i>
                        </a>
    
                    </div>
                </div>

              </div>
                
              <div class="profile-card--body">
                <div class="profile-card--body--element">
                  <p>I am a dedicated Senior Software Developer with a strong foundation in Data Science, experienced in architecting, implementing, 
                  and maintaining cutting-edge IT solutions across various industries.</p>

                  <p>Beginning my career as a Data Scientist at Math-Up GmbH, I developed a rich foundation of knowledge, working on data analysis 
                  projects in collaboration with esteemed organizations such as Wiener Linien and Wien Energie. A notable achievement from this time 
                  was the design and implementation of a web application for news-based competitive monitoring, using Natural Language Processing.</p>

                  <p>Progressing as a Senior Software Developer at Thinkers GmbH and later at Math-Up GmbH, I spearheaded a wide array of projects 
                  involving ETL, Web-Scraping, statistical data analysis, and data visualization. These projects required the formulation of tailored 
                  technical solutions for diverse clients, a challenge I embraced and excelled at.</p>

                  <p>Public events such as the voestalpine & Primetals Hackathon 2020 and the I2b Businessplan Competition were significant platforms
                  where I gained valueable experience in public speaking and presentations.</p>

                  <p>My technical proficiency extends across Python, Django, Dash, Flask, SQL and NoSQL, R, HTML, CSS, JS, Docker, Kubernetes, and 
                  Linux, making me equipped to manage a comprehensive range of IT projects. Moreover, my multilingual abilities in English, German,
                  and Turkish facilitate smooth communication and effective collaboration in various cultural settings.</p>

                  <p>To sum it up, with a blend of software development, data science expertise, and a passion for delivering bespoke IT solutions, 
                  I am well-positioned to contribute to challenging projects and achieve great results.</p>

                </div>

                <div class="profile-card--body--element">
                  <p><b>Languages, Frameworks and Tools</b></p>
                  <ul>
                    <li>Python - Django, Flask, Dash, pandas, SQlAlchemy</li>
                    <li>SQL - PostgreSQL, MySQL, MariaDB</li>
                    <li>NoSQL - MongoDB</li>
                    <li>Web Development - HTML, CSS and JavaScript</li>
                    <li>R</li>
                    <li>DevOps - Linux, Docker, Kubernetes, Bash</li>
                  </ul>
                </div>
              </div>

            </div>
        </div>

        <div class="col-lg-6 col-12 profile-card-column">
            <div class="profile-card"  id="profile-card-thomas-ebenstein">
              <div class="profile-card--header">
                <div class="profile-card-header-section">
                    <img class="profile-card-image" src="/assets/img/profile/ThomasEbenstein_ProfilePicture_fin.jpg" alt="Profile Picture of Thomas Ebenstein">
                </div>

                <div class="profile-card-header-section">
                    <h2  class="profile-card-name">Thomas Eben<span class="highlighted-term">stein</span></h2>
                    <p class="profile-occupation desktop">CTO of <a href="https://www.esgplus.com/team/" target="_blank">ESG Plus GmbH</a></p>
                    <div class="social-media-links">
                        <a class="social-media-link" href="mailto:{{ contact.email.thomas }}" aria-label="email address of Thomas Ebenstein">
                            <i class="svg--medium">{% svg "fontawesome/square-envelope.svg" %}</i>
                        </a>
                        <a class="social-media-link" href="{{ contact.linkedin.thomas }}" target="_blank" aria-label="Linkedin profile of Thomas Ebenstein">
                            <i class="svg--medium">{% svg "fontawesome/linkedin.svg" %}</i>
                        </a>
                        <a class="social-media-link" href="{{ contact.github.thomas }}" target="_blank" aria-label="Github profile of Thomas Ebenstein">
                            <i class="svg--medium">{% svg "fontawesome/square-github.svg" %}</i
                        </a>
                        <a class="social-media-link" href="{{ contact.xing.thomas }}" target="_blank" aria-label="Xing profile of Thomas Ebenstein">
                            <i class="svg--medium">{% svg "fontawesome/square-xing.svg" %}</i>
                        </a>
                    </div>
                </div>
              </div>
              <div class="profile-card--body">
                <div class="profile-card--body--element">
                  <p>As Chief Technology Officer with over eight years of experience in the technology and finance 
                  sectors, I have proven expertise in leading business transformations and creating impactful IT solutions. My role as CTO at 
                  <a href="https://www.esgplus.com">ESG Plus GmbH</a> has seen me not just overseeing the development and operations 
                  of key platforms, but also significantly 
                  contributing to business leadership, online marketing, project planning, and team management.</p>

                  <p>Moreover, I've successfully led internal projects for automating and digitizing labor-intensive processes. 
                  I've also been responsible for handling negotiations, 
                  ensuring quality, and managing contracts with data providers. Additionally, I've fostered strong relationships with B2B 
                  clients as a key account manager.</p>

                  <p>One of the biggest challenges was developing the backend software that creates 
                  the cleanvest sustainability assessments for investment funds. This involves processing a large volume of data from a variety 
                  of data sources. In the beginning I coded the entire software myself and gained a profound understanding of software development with a 
                  focus on python.
                  When ESG Plus started growing I have started to build and manage my own technical team which gave me profound experience in team management.
                  </p>

                  <p>Prior to my current role, I demonstrated my analytical skills in Socially Responsible Investments, both at 
                  <a href="https://www.esgplus.com" target="_blank">ESG Plus 
                  GmbH</a> and <a href="https://www.wwf.at" target="_blank">WWF</a>. This has allowed me to develop a deep understanding of ethical and sustainable 
                  practices in the financial sector.</p>

                  <p>Throughout my career, I've shown my ability to seamlessly blend technical proficiency, strategic planning, and 
                  commercial acumen. These skills, paired with my drive to make a positive impact, allow me to deliver innovative 
                  IT solutions that drive business growth and sustainability.</p>
                </div>

                <div class="profile-card--body--element">
                  <p><b>Languages, Frameworks and Tools</b></p>
                  <ul>
                    <li>Python - Django, pandas, SQlAlchemy</li>
                    <li>SQL - PostgreSQL, MySQL</li>
                    <li>Web Development - HTML, CSS, Vanilla JavaScript and React</li>
                    <li>DevOps - Linux, Docker, Bash</li>
                  </ul>
                </div>

                <div class="profile-card--body--element">
                  <p><b>Links to managed projects</b></p>
                  As CTO developing and maintaining the following platforms as well as managing the entire data processing are some of my key responsibilities.
                  <ul>
                    <li><b><a href="https://www.cleanvest.org" target="_blank">www.cleanvest.org</a></b>: CLEANVEST.org is one of the largest free databases offered to private investors for sustainability assessments for funds.</li>
                    <li><b><a href="https://pro.cleanvest.com" target="_blank">pro.cleanvest.com</a></b>: CLEANVEST PRO is offering sustainability assessments and in-depth data for funds for financial advisors.</li></li>
                  </ul>
                </div>
                
              </div>
            </div>
        </div>

    </div>
    


