---
layout: layouts/base.njk

title: Blog

eleventyNavigation:
  key: Blog
  order: 4

---
<h1>Blog</h1>

<p>Coming Soon ...</p>

<!--
<section class="posts-container">

  {%- for post in collections.posts -%}
    <div class="post-card">
      <h3 class="post-card--title">{{ post.data.title }}</h3>

      <ul>
        {%- for tag in post.data.tags -%}
          <li>{{tag}}</li>
        {%- endfor -%}
      </ul>

      <p class="post-card--description">{{post.data.description }}</p>
      
      <a href="{{ post.url }}">Read more ..</a>

    </div>
  {%- endfor -%}
-->

</section>
