---
layout: layouts/base.njk

title: Imprint
---

<h1>Imprint / Impressum</h1>

<p><b>Informationspflicht laut Offenlegungspflicht laut §25 Mediengesetz.</b></p>

<p>Medieninhaber und verantwortlich für den Inhalt:</p>

<p><b>Thomas Ebenstein</b><br>
1100 Wien<br>
Österreich<br>

<a href="mailto:{{ contact.email.web }}">{{contact.email.web }}</a>


<h6>Haftung für Inhalte dieser Website</h6>
<p>Die Inhalte dieser Seite wurden mit Sorgfalt und nach bestem Gewissen erstellt. Eine Gewähr für 
die Aktualität, Vollständigkeit und Richtigkeit der
 auf unseren Seiten bereitgestellten Informationen kann jedoch nicht übernommen werden.
Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir um  
umgehende Kontaktaufnahme, damit wir die rechtswidrigen Inhalte entfernen können. </p>

<p>Wenn Ihnen problematische oder rechtswidrige Inhalte unserer Website auffallen, 
bitte wir um umgehende Kontaktaufnahme.</p>

<h6>Haftung für Links auf dieser Website</h6>
Die Website enthält Links zu anderen Websites für deren Inhalt wir nicht verantwortlich sind. 
Für die Inhalte dieser Webseiten 
oder für die Einhaltung der Bestimmungen des Datenschutzes durch die Betreiber dieser 
Webseiten kann keine Haftung übernommen werden</p>

<p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir um umgehende Kontaktaufnahme.</p>

<h6>Urheberrechtshinweis</h6>
<p>Alle Inhalte dieser Webseite (Struktur und alle Inhalte wie z.B. Texte, Bilder und Grafiken) 
 sind 
urheberrechtlich geschützt. Sie dürfen weder für Handelszwecke noch zur Weitergabe kopiert, 
verändert und auf anderen Web-Sites verwendet werden. Eine Vervielfältigung oder 
Verwendung der Texte, Bilder, Grafiken in anderen elektronischen oder gedruckten Medien 
ist ohne ausdrückliche Zustimmung nicht gestattet.</p>

<p>Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht 
verletzen, bitten wir um umgehende Kontaktaufnahme.</p>
