---
layout: layouts/base.njk

title: Privacy Policy
---

<h1>Privacy Policy / Datenschutzerklärung</h1>

<p>Diese Webseite sammelt keine persönlichen Daten und verwendet keine Skripte, die das Nutzerverhalten 
durch Dritte tracken.</p>

<h6>Cookies</h6>

<p>Ein Cookie ist eine kleine Datei, die auf Ihrem Computer gespeichert werden kann, 
wenn Sie eine Website besuchen. Grundsätzlich werden Cookies verwendet, 
um Nutzern zusätzliche Funktionen auf einer Website zu bieten. 
Sie können zum Beispiel verwendet werden, um Ihnen die Navigation auf einer Website zu 
erleichtern oder es Ihnen zu ermöglichen, eine Website dort weiter zu verwenden, 
wo Sie diese verlassen haben. Cookies können auf keine anderen Daten auf Ihrem Computer 
zugreifen, diese lesen oder verändern.</p>

<p>Diese Webseite verwendet Cookies nur zur Speicherung von Präferenzen auf Ihrem Gerät wie z.B. 
ob Sie den Dark-Mode aktiviert haben. Es werden 
keine Daten über Cookies übermittelt oder Nutzerverhalten "getrackt". Es werden keine Cookies von Drittanbietern verwendet.</p>

<h6>Verantwortlicher</h6>

<p>Thomas Ebenstein<br>
1100 Wien<br>
Österreich</p>

<a href="mailto:{{ contact.email.web }}">{{ contact.email.web }}</a>


<h6>Deine Rechte </h6>
<p>hnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, 
Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten
 gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer
 Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. 
In Österreich ist dies die Datenschutzbehörde.</p>

<h6>Österreichische Datenschutzbehörde</h6>
<p>Österreichische Datenschutzbehörde<br>
Hohenstaufengasse 3<br>
1010 Vienna, AT<br></p>
<a href="mailto:dsb@dsb.gv.at">dsb@dsb.gv.at</a>